html {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
}

body {
    margin: 0;
    padding: 0;
}