html {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 20px;
    margin-right: 5vw;
    margin-left: 5vw;
    background: rgba(255, 248, 237, .75);
    border-radius: 25px;
}

.content {
    padding-top: 1vh;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 1vh;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #444444;
}